<html>
<head>
    <title>FlowChart Editor</title>
    <link href="/images/favicon.ico" rel="icon"/>
    <link type="text/css" href="/css/Style.css" rel="stylesheet">
	<script type="text/javascript" src="/scripts/Shapes.js"></script>
    <script type="text/javascript" src="/scripts/DiagramFlow.js"></script>
    <script type="text/javascript" src="/scripts/Draw_reference.js"></script>
</head>

<body>
    <canvas id="canvas_reference"></canvas>
	<div id="timer"></div>
    <textarea id="text_nodes" name="text_nodes" style="display:none;">{{teacher_nodes}}</textarea>
	<textarea id="text_links" name="text_links" style="display:none;">{{teacher_links}}</textarea>
</body>
</html>