    <title>FlowChart Editor</title>
    <link href="/images/favicon.ico" rel="icon"/>
    <link type="text/css" href="/css/Style.css" rel="stylesheet" >
    <script type="text/javascript" src="/scripts/Draw.js"></script>
	<script type="text/javascript" src="/scripts/Event.js"></script>
    <script type="text/javascript" src="/scripts/ManagerMenu.js"></script>
    <script type="text/javascript" src="/scripts/Selection.js"></script>
	<script type="text/javascript" src="/scripts/Shapes.js"></script>
	<script type="text/javascript" src="/scripts/Trash.js"></script>
    <script type="text/javascript" src="/scripts/UndoRedo.js"></script>
    <script type="text/javascript" src="/scripts/DiagramFlow.js"></script>
    <script type="text/javascript" src="/scripts/Draw_addon.js"></script>